.one-new {
    height: 250px;
    width: 350px;
    font-size: 24px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    font-size: 25px;
    font-weight: 700;
}

.logo-div {
    display: flex;
    align-items: center
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.title {
    font-size: 60px;
    width: 200px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 0.5em;
}

.offer-title {
    font-size: 60px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.title-span {
    margin-right: 20px;    
}

.title-link {
    text-decoration: none;
    color: #004FEC;
}

.text-one-new {
    border-left: 2px solid #004FEC;
    padding-left: 10px;
}

.link {
    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
    color:#333D51;
}

.active-link {
    color: #004FEC;
}

.data-offer {
    display: flex;
    justify-content: space-between;
}

.agent-span {
    line-height: 24px;
    font-size: 25px;
    line-height: 30px;
    color: rgba(51, 61, 81, 0.5);
}

.data-slash {
    color: rgba(51, 61, 81, 0.5);
    font-size: 20px;
    
}

.data-day {
    font-size: 30px;
    line-height: 37px;
    color: #333D51;
}

.data-mounth {
    font-size: 20px;
    line-height: 24px;
    color: rgba(51, 61, 81, 0.5);
}

.footer {
    margin: 75px 0 45px 0;
    display: flex;
    justify-content: space-between;
}

.spa {
    font-size: 12px;
    line-height: 15px;
    color: #333D51;
    display: block;
}

.padding-link-to {
    padding-top: 55px;
    padding-bottom: 60px;
    .link-to {
        font-size: 20px;
        line-height: 24px;
        color: #004FEC;
        text-decoration: none;
    }
}

.link-h2 {
    width: 350px;
    padding: 0;
    margin: 0;
    font-size: 50px;
    word-break: break-word;
    .linkToNews {
        text-decoration: none;
        color: #004FEC;
        word-break: break-word;
    }
}

.news-text {
    font-size: 25px;
    line-height: 35px;
    color: #333D51;
    margin-top: 40px;
}

.span-name-agent {
    padding: 30px 0;
}

.title-tel {
    font-size: 60px;
    line-height: 93%;
    color: #004FEC;
}

.offer-contact {
    display: flex;
    justify-content: space-between;
    .contact-offer-left {
        .my-full-name {
            font-size: 25px;
            line-height: 30px;
            color: #333D51;
            width: 100px;
            border-left: 2px solid #004FEC;
            padding-left: 23px;
            margin-top: 50px;
        }
        
        .my-email {
            font-size: 20px;
            line-height: 24px;
            color: #333D51;
            padding-bottom: 50px;
        }
        .prof{
            font-size: 20px;
            line-height: 24px;
            color: rgba(51, 61, 81, 0.5);
            padding-bottom: 20px;
        }
        .knowns {
            font-size: 20px;
            line-height: 24px;
            color: #333D51;
        }
    }
}




